*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Times New Roman', Times, serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  linear-gradient(rgb(12, 24, 92),rgba(201, 198, 200, 0.795));
  background-size: cover;
  background-position: center;
}

code {  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
